/* THE CSS USED IN THIS EXTERNAL FILE TARGETS THOSE COMPONENTS WHICH ARE PRESENT THE SAME WAY IN EVERY PAGE */

/* BODY */
body {
  background-color: black;
}






/* HR LINES */
hr {
  border: 1px solid white;
}

















/* HEADER */
header {
  border-bottom: 2px solid white;

  background-color: black;

  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: -10px;
  margin-top: -10px;

  width: 100%;

  position: sticky;
  top: -1px;
  z-index: 9999;
}





/* WEBSITE NAME AND LOGO */
.website-name-logo-container {
  border-radius: 30px;

  display: flex;
  align-items: center;
}










/* HOVER EFFECT ON WEBSITE NAME AND LOGO */
.website-name-logo-container:hover h1 {
  border-radius: 30px;

  background-color: white;
  color: black;

  transition: 0.2s;
}

.website-name-logo-container:hover img {
  border: 1px solid black;
}










/* WEBSITE LOGO */
.website-name-logo-container img {
  border-radius: 30px;

  height: 40px;

  margin-right: 10px;
}

/* WEBSITE NAME */
.website-name-logo-container h1 {
  font-size: 22px;
  font-family: sans-serif;
  font-weight: 800;

  color: white;
}











/* NAVBAR */
.navbar {
  list-style-type: none;

  padding-left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar li {
  padding: 5px 5px;

  font-family: sans-serif;
}











/* FORM BUTTON */
.form-button {
  border-radius: 10px;

  padding: 2px 5px;

  font-family: sans-serif;
  font-weight: 800;
}






















/* MAIN SECTION */
.main {
  padding: 80px 150px;

  position: static;
  z-index: 1;
}










/* FOOTER */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 20px;
}










/* SOCIAL MEDIA LINKS */
.footer-links-container {
  display: flex;
  justify-content: space-evenly;
}

.footer-links-container img {
  width: 40px;
  height: 40px;

  border-radius: 20px;
}

/* css for link sthat enclose logos in footer */
.footer-links-container a:hover {
  transition: 0.1s;

  background-color: black;

  opacity: 0.5;
}










/* COPYRIGHT DETAILS */
.footer-text {
  color: white;

  font-family: sans-serif;
  font-size: 15px;
  font-weight: 800;

  margin-top: 20px;
}

/* 'TM' sign */
.footer-text sup {
  font-size: 10px;
}




















/* LINKS */
a:link {
  padding: 5px 20px;

  color: white;

  text-decoration: none;

  font-weight: 800;
  font-family: monospace;
  font-size: 20px;
}

a:visited {
  color: rgb(124, 124, 255);
}


a:hover {
  transition: 0.2s;

  background-color: white;
  color: black;

  border-radius: 30px;
}

a:active {
  color: red;
}


/* CURRENT PAGE */
.current-page {
  background-color: white;
  color: black;

  border-radius: 30px;
}